.button {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-meduim);
}

.button:hover {
  background-color: var(--title-color-dark);
}
/* 
.button_icon {
  margin-left: var(--mb-0-5);
} */
