.button--flex {
    display: inline-flex;
    align-items: center;
}

.button {
    display: inline-block;
    background-color: var(--title-color);
    color: var(--container-color);
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    font-weight: var(--font-meduim);
}

.button__icon {
    margin-left: var(--mb-0-5);
}