.home {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
}
.right {
  display: flex;
  justify-content: space-between;
}
.content {
  flex-basis: 50%;
}
.social-icon {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.social-icon a {
  color: var(--title-color);
}

.text_title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.text_heading::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.1rem;
  background-color: var(--text-color);
  left: 0;
  top: 1.2rem;
}
.text_heading::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.1rem;
  background-color: var(--text-color);
  left: 21rem;
  top: 1.2rem;
}
.text_heading {
  position: relative;
  font-size: var(--h2-font-size);
  padding-left: 5rem;
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
  margin-top: 0.7rem;
}

.text_content {
  /* max-width: 200px; */
  margin-bottom: var(--mb-3);
}

.home_img {
  background: url("http://localhost:3000/my-portfolio/static/media/avatar.0df030584a2b001d67fe.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--container-color);
  width: 350px;
  height: 350px;
  justify-self: center;
  box-shadow: var(--box-shadow-img);
  animation: profile__animate 5s ease-in-out infinite 1s;
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.scroll {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.mouse {
  display: block;
  width: 20px;
  height: 50px;
  border: 3px solid #333;
  border-radius: 60px;
  position: relative;
  &::before {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: anim 2s infinite;
  }
}

@keyframes anim {
  to {
    opacity: 0;
    top: 30px;
  }
}

/* .arrow {
  width: 0;
  height: 10px;
  border: 1px solid #333;
  position: relative;
  animation: scroll 1.5s infinite;
  -webkit-animation: scroll 1.5s infinite;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: -5px;
    width: 1px;
    height: 10px;
    border-top: 10px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
} */

@media screen and (max-width: 992px) {
  .home_img {
    width: 300px;
    height: 300px;
  }
  .content {
    flex-basis: 40%;
  }
  .text_heading::after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
    justify-content: start;
    align-items: start;
    padding-top: 2rem;
  }
  .social-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  .home_img {
    display: none;
  }
  .right {
    margin-top: -20rem;
  }
  .content {
    flex-basis: 100%;

    text-align: center;
  }
  .text_heading {
    padding: 0;
  }
  .text_heading::before {
    display: none;
  }

  .scroll {
    justify-content: center;
  }
}
