.contact_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}

.contact-title,
h2 {
  text-align: center;
}

.contact_card {
  background: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 0.75rem;
  text-align: center;
  margin-top: 2rem;
}

.card_title h3 {
  margin-top: 0.5rem;
  /* color: var(--title-color); */
}

.card_address {
  margin-bottom: 1rem;
}

.contact_icon {
  font-size: 1rem;
  color: var(--title-color);
  margin-bottom: 0.5rem;
}

body.dark .contact_form_input {
  background-color: hsl(var(--hue), var(--sat), 20%);
  color: var(--title-color);
}

.contact_form input,
textarea {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: none;
  color: var(--text-color);
  outline: none;
  border-radius: 0.75rem;
  padding: 1.5rem;
  z-index: 1;
  margin-top: 2rem;
  font-size: var(--normal-font-size);
}

.contact_form textarea {
  resize: none;
  height: 11rem;
  margin-bottom: 1rem;
}

.message-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  cursor: pointer;
}

.message-btn a {
  color: var(--text-color);
}

/* //button  */

input.button[type="submit"] {
  display: block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: 600;
  width: 30%;
  margin: 0;
}

input.button[type="submit"]:hover {
  background-color: var(--title-color-dark);
}

/* @media screen and (max-width: 768px) {
 
} */

@media screen and (max-width: 768px) {
  .contact_container {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
  input.button[type="submit"] {
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    margin: 0 auto;
  }
}
